// Color
$brown: #2b2520;
$green: #39dbc2;
$pink: #f41fbf;
$yellow: #ffed28;
$purple: #b028ff;
$blue: #49a7ff;
$red: #ff3838;
$orange: #db7953;

// Font
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

// Size
$extra-large: 84px;
$large: 62px;

:root {
  font: 16px / 1 sans-serif;
}

.stripe-text {
  position: relative;
  $random-text: 'Color Picker';
  $stroke-width: $extra-large * 0.05;
  font-size: $extra-large;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;
  &:after {
    position: absolute;
    left: 0;
    content: $random-text;
    $stripe-size: 20px;
    background: -webkit-repeating-linear-gradient(
      135deg,
      $pink,
      $pink $stripe-size,
      $yellow $stripe-size,
      $yellow $stripe-size * 2,
      $purple $stripe-size * 2,
      $purple $stripe-size * 3,
      $green $stripe-size * 3,
      $green $stripe-size * 4
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-stroke-width: $stroke-width;
    -webkit-text-stroke-color: white;
  }
  &:before {
    z-index: -1;
    position: absolute;
    content: $random-text;
    color: $pink;
    top: 0px;
    left: 0px;
    $x: 5px;
    $y: 0px;
    $step: 1px;
    text-shadow: $x $y $pink, $x + $step $y + $step $pink,
      $x + $step * 2 $y + $step * 2 $pink, $x + $step * 3 $y + $step * 3 $pink,
      $x + $step * 4 $y + $step * 4 $pink, $x + $step * 5 $y + $step * 5 $pink,
      $x + $step * 6 $y + $step * 6 $pink, $x + $step * 7 $y + $step * 7 $pink,
      $x + $step * 8 $y + $step * 8 $pink, $x + $step * 9 $y + $step * 9 $pink,
      $x + $step * 10 $y + $step * 10 $pink;
  }
}

html {
  height: 100%;
}

body {
  margin: 2rem;
  min-height: 100%;
  // background-color: this.state.hue, this.state.saturation, this.state.lightness;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label h2 {
  padding: 2rem;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}

.rainbow-letters {
  border: white;
  // background-color: white;
  letter-spacing: 5px;
}
.rainbow-letters span:nth-child(10n + 1) {
  color: #c21b18;
}
.rainbow-letters span:nth-child(10n + 2) {
  color: #296ce9;
}
.rainbow-letters span:nth-child(10n + 3) {
  color: #27c016;
}
.lettersFade {
  // border: white;
  // background-color: white;
  letter-spacing: 5px;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lettersBright {
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 2px 5px #eeff41;
  text-align: center;
}

input {
  margin-left: 1rem;
  margin-top: 2rem;
  transform: scale(1.2);
}

code {
  font-size: 25px;
  font-family: impact, fantasy;
}

// bits not working
// *,
// *:before,
// *:after {
//   box-sizing: border-box;
// }

// @mixin center {
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// div .stripe-text {
//   display: flex;
//   justify-content: center;
// }
